@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); /* Adjusted for three columns */
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;

  @include xl {
    grid-template-columns: repeat(2, 1fr); /* Adjusted for two columns */
  }
  @include lg {
    grid-template-columns: repeat(2, 1fr); /* Adjusted for two columns */
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-auto-rows: minmax(120px, auto);
  }

  .box {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 3;
  }

  .box4 {
    grid-column: span 1;
    grid-row: span 3;
  }
  .box7 {
    grid-column: span 3; /* Adjusted for three columns */
    grid-row: span 2;

    @include md {
      display: none;
    }
  }
}
